<form action="/user-login" method="POST">
    <input name="login" placeholder="Username" type="text">
    <input name="password" placeholder="Password" type="password">
    <button type="submit">Login</button>
</form>