<header>
    <div class="user-links">
        {% if loginStatus %}
            <a href="/logout">LogOut</a>
        {% else %}
            <a href="/admin">Admin Panel</a>
        {% endif %}
    </div>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>