<form action="/admin/product/save" method="post">
    <input type="hidden" name="entity_id" value="{{ product.entity_id }}">
    <input type="text" name="name" placeholder="name" value="{{ product.name }}">
    <input type="text" name="description" placeholder="description" value="{{ product.description }}">
    <input type="number" name="price" placeholder="price" value="{{ product.price }}">
    <button type="submit">Save!</button>
</form>